.cont {
    text-align: center;
    color: rgb(37, 117, 188);
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10%;
    min-height: 50px;
    
    display: inline-block;
    background: rgb(91, 70, 184);
    min-width: 60px;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
  }

  .cont-padre{
    display: inline-block;
  }

  /*Diseño de tabla*/


  .tabla{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
  }