.cont {
  text-align: center;
  color: rgb(37, 117, 188);
  /* padding: 5%; */
  /* padding: 12px 5px; */
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 7%;
  min-height: 50px;
  color: aliceblue;
  
  display: inline-block;
  background: rgb(23, 18, 49);
  min-width: 60px;
  width: auto;
  font-family: 'Courier New', Courier, monospace;
}

.cont-padre{
  text-align: center;

  display: inline-block;
  /* justify-content: space-around; */
}